.Enter-openStatus {
	margin-top: 0;
}

.Enter-list {
	text-align: left;
}

.Enter-statusOpen {
	color: green;
}

.Enter-statusClosed {
	color: red;
}

@media (min-width: 0px) {
	.Enter-list {
		padding-left: 0.5rem;
	}
}

@media (min-width: 300px) {
	.Enter-list {
		padding-left: 1rem;
	}
}

@media (min-width: 515px) {
	.Enter-list {
		padding-left: 2rem;
	}
}

@media (min-width: 1000px) {
	.Enter-list {
		padding-left: 3rem;
	}
}

@media (min-width: 1500px) {
	.Enter-list {
		padding-left: 4rem;
	}
}

@media (min-width: 2000px) {
	.Enter-list {
		padding-left: 5rem;
	}
}