.HamburgerMenu {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	font-size: 0.75rem;
	cursor: pointer;
}

.HamburgerMenu-icon {
	position: absolute;
	right: 0.4rem;
	width: 0.55rem;
	height: 0.55rem;
	filter: invert(100%);
}

.HamburgerMenu-icon img {
	position: absolute;
	width: 100%;
	height: 100%;
}

.HamburgerMenu-dropDown {
	display: none;
	position: absolute;
	right: 0;
	top: 1.1rem;
	width: 10rem;
	background: black;
}

.HamburgerMenu-dropDown.visible {
	display: block;
}

.HamburgerMenu-item {
	display: block;
	margin: 0.25rem;
	border-radius: 0.25rem;
	text-decoration: none;
	color: white;
	cursor: pointer;
	transition:
		0.67s color,
		0.67s text-shadow,
		0.67s background,
		0.25s border-radius;
}

.HamburgerMenu-item.active {
	color: black;
	border-radius: 0.33rem;
	background: rgb(245, 245, 245);
}

.HamburgerMenu-item:not(.active):hover,
.HamburgerMenu-item:not(.active):active {
	text-shadow: 0 0 0.125rem white;
	background: rgb(70, 70, 70);
	border-radius: 0.33rem;
}

.HamburgerMenu-item.hidden {
	display: none;
}

@media (min-width: 0px) {
	.HamburgerMenu-dropDown {
		top: 0.97rem;
	}
}

@media (min-width: 250px) {
	.HamburgerMenu-dropDown {
		top: 1.06rem;
	}
}

@media (min-width: 350px) {
	.HamburgerMenu-dropDown {
		top: 1.22rem;
	}
}

@media (min-width: 400px) {
	.HamburgerMenu-dropDown {
		top: 1.29rem;
	}
}

@media (min-width: 450px) {
	.HamburgerMenu {
        display: none;
	}
}