.Profile-infoHeader {
	margin-top: 0;
}

.Profile-entriesHeader {
	margin-top: 0;
}

.Profile-infoContainer {
	display: inline-block;
	text-align: left;
}

.Profile-label {
	display: inline-block;
}

.Profile-readonly {
	border: 2px solid rgba(0, 0, 0, 0.05);
}

.Profile-editAccount {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.Profile-doubleButtonContainer {
	padding: 0;
	margin: auto;
	border: 0;
	background: none;
}

.Profile-doubleButtonContainer:hover {
	background: transparent;
}

.Profile-doubleButtonContainer button {
	display: inline;
	width: 50%;
	margin: 0;
}	

.Profile-infoPairContainer label {
	margin-right: 0.5rem;
}

.Profile-infoPairContainer input {
	margin-bottom: 0.5rem;
}

.Profile-invisible {
	display: none;
}

.Profile-logout {
	margin-left: auto;
	margin-right: auto;
}

@media (min-width: 0px) {
	.Profile-label {
		width: 1.67rem;
	}

	.Profile-input {
		width: 5.5rem;
	}
}

@media (min-width: 250px) {
	.Profile-label {
		width: 2.33rem;
	}

	.Profile-input {
		width: 7rem;
	}
}

@media (min-width: 300px) {
	.Profile-label {
		width: 3rem;
	}

	.Profile-input {
		width: 8.5rem;
	}
}

@media (min-width: 350px) {
	.Profile-label {
		width: 4.33rem;
	}

	.Profile-input {
		width: 10rem;
	}
}

@media (min-width: 400px) {
	.Profile-label {
		width: 4.5rem;
	}

	.Profile-input {
		width: 11.5rem;
	}
}

@media (min-width: 450px) {
	.Profile-label {
		width: 4.67rem;
	}

	.Profile-input {
		width: 12.25rem;
	}
}

@media (min-width: 500px) {
	.Profile-label {
		width: 5rem;
	}

	.Profile-input {
		width: 13rem;
	}
}

@media (min-width: 550px) {
	.Profile-label {
		width: 5.33rem;
	}

	.Profile-input {
		width: 13.5rem;
	}
}

@media (min-width: 750px) {
	.Profile-label {
		width: 5.67rem;
	}

	.Profile-input {
		width: 14rem;
	}
}

@media (min-width: 1000px) {
	.Profile-label {
		width: 6rem;
	}

	.Profile-input {
		width: 14.5rem;
	}
}

@media (min-width: 1250px) {
	.Profile-label {
		width: 6.7rem;
	}

	.Profile-input {
		width: 18rem;
	}
}

@media (min-width: 1500px) {
	.Profile-label {
		width: 6.9rem;
	}

	.Profile-input {
		width: 22rem;
	}
}

@media (min-width: 1750px) {
	.Profile-label {
		width: 7.8rem;
	}

	.Profile-input {
		width: 26rem;
	}
}

@media (min-width: 2000px) {
	.Profile-label {
		width: 8.67rem;
	}

	.Profile-input {
		width: 30rem;
	}
}