#EditEntry-editContainer {
	display: inline-block;
	text-align: left;
}

.EditEntry-label {
	display: inline-block;
	text-align: left;
}

.EditEntry-input {
	margin-bottom: 0.5rem;
}

.EditEntry-readonly {
	border: 2px solid rgba(0, 0, 0, 0.05);
}

.EditEntry-error {
	height: 1rem;
}


@media (min-width: 0px) {
	.EditEntry-label {
		width: 1.8rem;
		font-size: 80%;
	}

	.EditEntry-input {
		width: 4.4rem;
		font-size: 80%;
	}
}

@media (min-width: 250px) {
	.EditEntry-label {
		width: 2.33rem;
	}

	.EditEntry-input {
		width: 6rem;
	}
}

@media (min-width: 300px) {
	.EditEntry-label {
		width: 2.75rem;
	}

	.EditEntry-input {
		width: 8.5rem;
	}
}

@media (min-width: 350px) {
	.EditEntry-label {
		width: 3.5rem;
	}

	.EditEntry-input {
		width: 10rem;
	}
}

@media (min-width: 400px) {
	.EditEntry-label {
		width: 4rem;
	}

	.EditEntry-input {
		width: 11.5rem;
	}
}

@media (min-width: 450px) {
	.EditEntry-label {
		width: 4.5rem;
	}

	.EditEntry-input {
		width: 13.5rem;
	}
}

@media (min-width: 500px) {
	.EditEntry-label {
		width: 5rem;
	}

	.EditEntry-input {
		width: 14.5rem;
	}
}

@media (min-width: 550px) {
	.EditEntry-label {
		width: 5.5rem;
	}

	.EditEntry-input {
		width: 15.5rem;
	}
}

@media (min-width: 750px) {
	.EditEntry-label {
		width: 7rem;
		font-size: 100%;
	}

	.EditEntry-input {
		width: 23rem;
		font-size: 100%;
	}
}

@media (min-width: 1000px) {
	.EditEntry-label {
		width: 7.5rem;
	}

	.EditEntry-input {
		width: 24rem;
	}
}

@media (min-width: 1250px) {
	.EditEntry-label {
		width: 8rem;
	}

	.EditEntry-input {
		width: 25rem;
	}
}

@media (min-width: 1500px) {
	.EditEntry-label {
		width: 9rem;
	}

	.EditEntry-input {
		width: 26rem;
	}
}

@media (min-width: 1750px) {
	.EditEntry-label {
		width: 9.5rem;
	}

	.EditEntry-input {
		width: 27rem;
	}
}

@media (min-width: 2000px) {
	.EditEntry-label {
		width: 10rem;
	}

	.EditEntry-input {
		width: 28rem;
	}
}