.EntryCompleted-title {
	font-weight: bold;
	margin-right: 1rem;
}

.EntryCompleted-edit {
	margin-right: 1rem;
}

.EntryCompleted-button {
	padding: 0.33rem;
	color: white;
	font: inherit;
	background: black;
	border: outset rgb(200, 200, 200);
	border-radius: 0.25rem;
	cursor: pointer;
}

.EntryCompleted-button:hover,
.EntryCompleted-button:active {
	background: rgb(40, 40, 40);
}

@media (min-width: 0px) {
	.EntryCompleted-title {
		margin-right: 0.33rem;
	}
	
	.EntryCompleted-edit {
		margin-right: 0.33rem;
	}

	.EntryCompleted-button {
		padding: 0.167rem;
	}
}

@media (min-width: 250px) {
	.EntryCompleted-title {
		margin-right: 0.5rem;
	}
	
	.EntryCompleted-edit {
		margin-right: 0.5rem;
	}

	.EntryCompleted-button {
		padding: 0.2rem;
	}
}

@media (min-width: 500px) {
	.EntryCompleted-title {
		margin-right: 0.75rem;
	}
	
	.EntryCompleted-edit {
		margin-right: 0.75rem;
	}

	.EntryCompleted-button {
		padding: 0.33rem;
	}
}

@media (min-width: 750px) {
	.EntryCompleted-title {
		margin-right: 1rem;
	}
	
	.EntryCompleted-edit {
		margin-right: 1rem;
	}

	.EntryCompleted-button {
		padding: 0.5rem;
	}
}

@media (min-width: 1000px) {
	.EntryCompleted-title {
		margin-right: 1.25rem;
	}
	
	.EntryCompleted-edit {
		margin-right: 1.25rem;
	}

	.EntryCompleted-button {
		padding: 0.75rem;
	}
}