.CreateAccount-container {
	position: relative;
}

.CreateAccount-passwordContainer {
	padding-right: 0.5rem;
}

.CreateAccount-label {
	font-size: 150%;
	margin-right: 0.5rem;
}

.CreateAccount-input {
	position: relative;
	top: -0.18rem;
	font-size: 125%;
}

.CreateAccount-button {
	width: 23rem;
	height: 3.25rem;
	padding: 0.33rem;
	margin-top: 0.5rem;
	color: rgb(245, 245, 245);
	font-size: 150%;
	background: black;
	border: 0.1rem solid rgb(200, 200, 200);
	border-radius: 0.67rem;
	cursor: pointer;
}

.CreateAccount-button:hover,
.CreateAccount-button:active {
	background: rgb(25, 25, 25);
}

@media (min-width: 0px) {
	.CreateAccount-container {
		margin-bottom: 0.2rem;
	}

	.CreateAccount-label {
		font-size: 60%;
	}

	.CreateAccount-input {
		top: -0.1rem;
		font-size: 52.5%;
		box-sizing: border-box;
	}

	.CreateAccount-passwordLabel {
		margin-left: 0.67rem;
	}

	.CreateAccount-passwordInput {
		margin-right: 0.05rem;
	}

	.CreateAccount-emailLabel {
		margin-left: 1rem;
	}

	.CreateAccount-emailInput {
		margin-left: 0.1rem;
	}

	.CreateAccount-button {
		width: 10rem;
		height: 2rem;
		font-size: 100%;
	}
}

@media (min-width: 360px) {
	.CreateAccount-container {
		margin-bottom: 0.4rem;
	}

	.CreateAccount-label {
		font-size: 75%;
	}

	.CreateAccount-input {
		top: -0.1rem;
		font-size: 70%;
		box-sizing: border-box;
	}

	.CreateAccount-passwordLabel {
		margin-left: 0.67rem;
	}

	.CreateAccount-passwordInput {
		margin-right: 0.05rem;
	}

	.CreateAccount-emailLabel {
		margin-left: 1.2rem;
	}

	.CreateAccount-emailInput {
		margin-left: 0.05rem;
	}

	.CreateAccount-button {
		width: 12rem;
		height: 2.33rem;
		font-size: 110%;
	}
}

@media (min-width: 412px) {
	.CreateAccount-container {
		margin-bottom: 0.6rem;
	}

	.CreateAccount-label {
		font-size: 85%;
	}

	.CreateAccount-input {
		top: -0.1rem;
		font-size: 85%;
		box-sizing: border-box;
	}

	.CreateAccount-passwordLabel {
		margin-left: 0.67rem;
	}

	.CreateAccount-passwordInput {
		margin-left: 0.1rem;
	}

	.CreateAccount-emailLabel {
		margin-left: 1.4rem;
	}

	.CreateAccount-emailInput {
		margin-left: 0.15rem;
	}

	.CreateAccount-button {
		width: 15rem;
		height: 2.67rem;
		font-size: 120%;
	}
}

@media (min-width: 568px) {
	.CreateAccount-container {
		margin-bottom: 0.8rem;
	}

	.CreateAccount-label {
		font-size: 110%;
	}

	.CreateAccount-input {
		top: -0.1rem;
		font-size: 140%;
		box-sizing: border-box;
	}

	.CreateAccount-passwordLabel {
		margin-left: 0.67rem;
	}

	.CreateAccount-passwordInput {
		margin-left: 0.1rem;
	}

	.CreateAccount-emailLabel {
		margin-left: 1.8rem;
	}

	.CreateAccount-emailInput {
		margin-left: 0.15rem;
	}

	.CreateAccount-button {
		width: 23rem;
		height: 3rem;
		font-size: 130%;
	}
}

@media (min-width: 768px) {
	.CreateAccount-container {
		margin-bottom: 1rem;
	}

	.CreateAccount-label {
		font-size: 155%;
	}

	.CreateAccount-input {
		top: -0.1rem;
		font-size: 190%;
		box-sizing: border-box;
	}

	.CreateAccount-passwordLabel {
		margin-left: 0.85rem;
	}

	.CreateAccount-passwordInput {
		margin-left: 0.1rem;
	}

	.CreateAccount-emailLabel {
		margin-left: 2.7rem;
	}

	.CreateAccount-emailInput {
		margin-left: 0.15rem;
	}

	.CreateAccount-button {
		width: 31rem;
		height: 3.33rem;
		font-size: 140%;
	}
}

@media (min-width: 1024px) {
	.CreateAccount-container {
		margin-bottom: 1.2rem;
	}

	.CreateAccount-label {
		font-size: 175%;
	}

	.CreateAccount-input {
		top: -0.1rem;
		font-size: 300%;
		box-sizing: border-box;
	}

	.CreateAccount-passwordLabel {
		margin-left: 0.67rem;
	}

	.CreateAccount-passwordInput {
		margin-left: 0.1rem;
	}

	.CreateAccount-emailLabel {
		margin-left: 2.6rem;
	}

	.CreateAccount-emailInput {
		margin-left: 0.33rem;
	}

	.CreateAccount-button {
		width: 45rem;
		height: 3.67rem;
		font-size: 150%;
	}
}