.EntryVoting {
	position: relative;
	text-align: left;
}

.EntryVoting-image {
	width: 200px;
	height: 200px;
}

.EntryVoting-title {
	position: absolute;
	top: 0;
	margin-left: 1rem;
	font-weight: bold;
}

.EntryVoting-vote {
	position: absolute;
	right: 0;
	top: -0.6rem;
}

.EntryVoting-button {
	padding: 0.33rem;
	color: white;
	font: inherit;
	background: black;
	border: outset rgb(200, 200, 200);
	border-radius: 0.25rem;
	cursor: pointer;
	transition: color 0.33s, background 0.33s;
}

.EntryVoting-button:hover,
.EntryVoting-button:active {
	background: rgb(40, 40, 40);
}

.EntryVoting-button.active {
	background: white;
	color: black;
}

.EntryVoting-voteContainer {
}

.EntryVoting-voteCategory {
	display: inline-block;
	position: relative;
	width: 20%;
}

.EntryVoting-voteSelect {
	display: block;
	margin: 0.5rem auto 0.5rem auto;
}

@media (min-width: 0px) {
	.EntryVoting-title {
		margin-right: 0.33rem;
	}
	
	.EntryVoting-edit {
		margin-right: 0.33rem;
	}

	.EntryVoting-button {
		padding: 0.167rem;
	}
}

@media (min-width: 250px) {
	.EntryVoting-title {
		margin-right: 0.5rem;
	}
	
	.EntryVoting-edit {
		margin-right: 0.5rem;
	}

	.EntryVoting-button {
		padding: 0.2rem;
	}
}

@media (min-width: 500px) {
	.EntryVoting-title {
		margin-right: 0.75rem;
	}
	
	.EntryVoting-edit {
		margin-right: 0.75rem;
	}

	.EntryVoting-button {
		padding: 0.33rem;
	}
}

@media (min-width: 750px) {
	.EntryVoting-title {
		margin-right: 1rem;
	}
	
	.EntryVoting-edit {
		margin-right: 1rem;
	}

	.EntryVoting-button {
		padding: 0.5rem;
	}
}

@media (min-width: 1000px) {
	.EntryVoting-title {
		margin-right: 1.25rem;
	}
	
	.EntryVoting-edit {
		margin-right: 1.25rem;
	}

	.EntryVoting-button {
		padding: 0.75rem;
	}
}