.Modal {
	width: 80%;
	max-width: 60rem;
	max-height: 80%;
	border-radius: 0.67rem;
	background: rgb(250, 250, 250);
	z-index: 1;
	border: 0.1rem solid rgb(128, 128, 128);
	box-shadow: 0 0 0.2rem black;
	overflow-y: scroll;
	user-select: text;
}

.Modal-contentContainer {
	padding: 2.75rem;
}

.Modal-close {
	position: absolute;
	right: 0.1rem;
	top: -0.225rem;
	border: none;
	font-size: 2rem;
	font-weight: bold;
	background: none;
	cursor: pointer;
}

@media (min-width: 0px) {
    .Modal {
        font-size: 0.325rem;
    }

	.Modal-contentContainer {
		padding: 1.75rem;
	}

	.Modal-close {
		right: 0.15rem;
		top: 0.2rem;
		font-size: 0.75rem;
	}

	.Modal .wideButton {
		width: 6.5rem;
	}
}

@media (min-width: 250px) {
    .Modal {
        font-size: 0.42rem;
    }

	.Modal .wideButton {
		width: 8.5rem;
	}
}

@media (min-width: 300px) {
    .Modal {
        font-size: 0.51rem;
    }

	.Modal .wideButton {
		width: 11.5rem;
	}
}

@media (min-width: 350px) {
    .Modal {
        font-size: 0.62rem;
    }

	.Modal-contentContainer {
		padding: 1.85rem;
	}

	.Modal-close {
		right: 0;
		top: 0;
		font-size: 1rem;
	}

	.Modal .wideButton {
		width: 13.75rem;
	}
}

@media (min-width: 400px) {
    .Modal {
        font-size: 0.74rem;
    }

	.Modal-contentContainer {
		padding: 1.95rem;
	}

	.Modal-close {
		font-size: 1.15rem;
	}

	.Modal .wideButton {
		width: 15.5rem;
	}
}

@media (min-width: 450px) {
    .Modal {
        font-size: 0.86rem;
    }

    .Modal .wideButton {
		width: 18.25rem;
    }
}

@media (min-width: 500px) {
    .Modal {
        font-size: 0.95rem;
    }

    .Modal .wideButton {
		width: 19.75rem;
		font-size: 120%;
    }
}

@media (min-width: 550px) {
    .Modal {
        font-size: 1rem;
    }

    .Modal .wideButton {
    	width: 21.25rem;
    }
}

@media (min-width: 750px) {
    .Modal {
        font-size: 1.05rem;
    }

	.Modal-contentContainer {
		padding: 2.05rem;
	}

	.Modal-close {
		right: 0.15rem;
		top: 0;
		font-size: 1.75rem;
	}

    .Modal .wideButton {
    	width: 30rem;
    }
}

@media (min-width: 1000px) {
    .Modal {
        font-size: 1.1rem;
    }

	.Modal-contentContainer {
		padding: 2.15rem;
	}

	.Modal-close {
		font-size: 2rem;
	}

    .Modal .wideButton {
    	width: 32rem;
    }
}

@media (min-width: 1250px) {
    .Modal {
        font-size: 1.2rem;
    }

    .Modal .wideButton {
    	width: 33rem;
    }
}

@media (min-width: 1500px) {
    .Modal {
        font-size: 1.3rem;
    }

    .Modal .wideButton {
    	width: 35.5rem;
    }
}

@media (min-width: 1750px) {
    .Modal {
        font-size: 1.4rem;
    }

    .Modal .wideButton {
    	width: 37rem;
    }
}

@media (min-width: 2000px) {
    .Modal {
        font-size: 1.475rem;
    }

    .Modal .wideButton {
    	width: 38.5rem;
    }
}