.Login-container:not(:first-of-type) {
	margin-top: 0.67rem;
}

.Login-label {
	margin-right: 0.5rem;
}

.Login-input {
	position: relative;
	top: -0.18rem;
	border: 1px solid black;
}

@media (min-width: 0px) {
	.Login-button {
		width: 8rem;
	}

	.Login-passwordLabel {
		margin-left: 0.1rem;
	}
}

@media (min-width: 250px) {
	.Login-button {
		width: 10.5rem;
	}

	.Login-passwordLabel {
		margin-left: 0.2rem;
	}
}

@media (min-width: 300px) {
	.Login-button {
		width: 13rem;
	}

	.Login-passwordLabel {
		margin-left: 0.15rem;
	}
}

@media (min-width: 350px) {
	.Login-button {
		width: 15rem;
	}

	.Login-passwordLabel {
		margin-left: 0.2rem;
	}
}

@media (min-width: 400px) {
	.Login-button {
		width: 18rem;
	}

	.Login-passwordLabel {
		margin-left: 0.25rem;
	}
}

@media (min-width: 450px) {
	.Login-button {
		width: 20.5rem;
	}

	.Login-passwordLabel {
		margin-right: 0.55rem;
	}
}

@media (min-width: 500px) {
	.Login-button {
		width: 23rem;
	}

	.Login-passwordLabel {
		margin-right: 0.55rem;
	}
}

@media (min-width: 550px) {
	.Login-button {
		width: 24.5rem;
	}

	.Login-passwordLabel {
		margin-right: 0.6rem;
	}
}

@media (min-width: 750px) {
	.Login-button {
		width: 26rem;
	}

	.Login-passwordLabel {
		margin-right: 0.6rem;
	}
}

@media (min-width: 1000px) {
	.Login-button {
		width: 26.5rem;
	}

	.Login-passwordLabel {
		margin-right: 0.6rem;
	}
}

@media (min-width: 1250px) {
	.Login-button {
		width: 28.5rem;
	}

	.Login-passwordLabel {
		margin-right: 0.6rem;
	}
}

@media (min-width: 1500px) {
	.Login-button {
		width: 31.25rem;
	}

	.Login-passwordLabel {
		margin-right: 0.6rem;
	}
}

@media (min-width: 1750px) {
	.Login-button {
		width: 34rem;
	}

	.Login-passwordLabel {
		margin-right: 0.6rem;
	}
}

@media (min-width: 2000px) {
	.Login-button {
		width: 35.25rem;
	}

	.Login-passwordLabel {
		margin-right: 0.6rem;
	}
}