.Header {
    display: flex;
    position: fixed;
    align-items: center;
    width: 100%;
    background-color: rgb(20, 20, 20);
    color: white;
    box-shadow: 0 0 1rem rgba(20, 20, 20, 0.67);
    z-index: 1;
    box-sizing: border-box;
}

.Header-firstThird {
    display: flex;
    align-items: center;
    position: absolute;
    left: 0;
}

.Header-secondThird {
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.Header-thirdThird {
    position: absolute;
    right: 0;
}

.Header-title {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.Header-title span {
    text-shadow: 0 0 0.25rem white;
}

.Header-noise {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* https://upload.wikimedia.org/wikipedia/commons/0/03/Pink.noise.col.png */
    background-image: url('../../images/noise2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.25;
    pointer-events: none;
    z-index: -1;
    filter: saturate(0.25);
}

.Header-icon {
    width: 2rem;
    height: 2rem;
    filter: invert(100%);
}

@media (min-width: 0px) {
    .Header {
        height: 1.4rem;
    }

    .Header-title {
        margin-left: 0.2rem;
        font-size: 31%;
    }

    .Header-icon {
        width: 0.65rem;
        height: 0.65rem;
    }

    .Header-firstThird,
    .Header-thirdThird {
        width: 45%;
    }
}

@media (min-width: 250px) {
    .Header {
        height: 1.4rem;
    }

    .Header-title {
        margin-left: 0.25rem;
        font-size: 37%;
    }

    .Header-icon {
        width: 0.775rem;
        height: 0.775rem;
    }

    .Header-firstThird,
    .Header-thirdThird {
        width: 45%;
    }
}

@media (min-width: 300px) {
    .Header {
        height: 1.4rem;
    }

    .Header-title {
        margin-left: 0.65rem;
        font-size: 42.5%;
    }

    .Header-icon {
        width: 0.85rem;
        height: 0.85rem;
    }

    .Header-firstThird,
    .Header-thirdThird {
        width: 45%;
    }
}

@media (min-width: 350px) {
    .Header {
        height: 1.4rem;
    }

    .Header-title {
        margin-left: 0.5rem;
        font-size: 48%;
    }

    .Header-icon {
        width: 0.925rem;
        height: 0.925rem;
    }

    .Header-firstThird,
    .Header-thirdThird {
        width: 45%;
    }
}

@media (min-width: 400px) {
    .Header {
        height: 1.5rem;
    }

    .Header-title {
        margin-left: 0.75rem;
        font-size: 53.3%;
    }

    .Header-icon {
        width: 1rem;
        height: 1rem;
    }

    .Header-firstThird,
    .Header-thirdThird {
        width: 45%;
    }
}

@media (min-width: 450px) {
    .Header {
        height: 1.6rem;
    }

    .Header-title {
        margin-left: 1rem;
        font-size: 60%;
    }

    .Header-icon {
        width: 1.075rem;
        height: 1.075rem;
    }

    .Header-firstThird,
    .Header-thirdThird {
        width: 45%;
    }
}

@media (min-width: 500px) {
    .Header {
        height: 1.67rem;
    }

    .Header-title {
        margin-left: 1.25rem;
        font-size: 65%;
    }

    .Header-icon {
        width: 1.125rem;
        height: 1.125rem;
    }

    .Header-firstThird,
    .Header-thirdThird {
        width: 45%;
    }
}

@media (min-width: 550px) {
    .Header {
        height: 1.75rem;
    }

    .Header-title {
        margin-left: 1.5rem;
        font-size: 71%;
    }

    .Header-icon {
        width: 1.33rem;
        height: 1.33rem;
    }

    .Header-firstThird,
    .Header-thirdThird {
        width: 40%;
    }
}

@media (min-width: 750px) {
    .Header {
        height: 2rem;
    }

    .Header-title {
        margin-left: 1.75rem;
        font-size: 100%;
    }

    .Header-icon {
        width: 1.375rem;
        height: 1.375rem;
    }
}

@media (min-width: 1000px) {
    .Header {
        height: 2.3rem;
    }

    .Header-title {
        margin-left: 1.9rem;
        font-size: 100%;
    }

    .Header-icon {
        width: 1.6rem;
        height: 1.6rem;
    }
}

@media (min-width: 1250px) {
    .Header {
        height: 2.6rem;
    }

    .Header-title {
        margin-left: 2.05rem;
        font-size: 110%;
    }

    .Header-icon {
        width: 1.9rem;
        height: 1.9rem;
    }
}

@media (min-width: 1500px) {
    .Header {
        height: 3.1rem;
    }

    .Header-title {
        margin-left: 2.2rem;
        font-size: 135%;
    }

    .Header-icon {
        width: 2.3rem;
        height: 2.3rem;
    }
}

@media (min-width: 1750px) {
    .Header {
        height: 3.3rem;
    }

    .Header-title {
        margin-left: 2.35rem;
        font-size: 145%;
    }

    .Header-icon {
        width: 2.65rem;
        height: 2.65rem;
    }
}

@media (min-width: 2000px) {
    .Header {
        height: 3.75rem;
    }

    .Header-title {
        margin-left: 2.5rem;
        font-size: 165%;
    }

    .Header-icon {
        width: 2.8rem;
        height: 2.8rem;
    }
}