.NavBar {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.NavBarItem {
	display: flex;
	align-items: center;
	border-radius: 0.25rem;
	text-decoration: none;
	color: white;
	cursor: pointer;
	transition:
		0.67s color,
		0.67s text-shadow,
		0.67s background,
		0.25s border-radius;
}

.NavBarItem.active {
	color: black;
	border-radius: 0.33rem;
	background: rgb(245, 245, 245);
}

.NavBarItem:not(.active):hover,
.NavBarItem:not(.active):active {
	text-shadow: 0 0 0.125rem white;
	background: rgb(70, 70, 70);
	border-radius: 0.33rem;
}

.NavBarItem.hidden {
	display: none;
}

@media (min-width: 0px) {
	.NavBar {
        margin-right: 0.9rem;
	}

	.NavBarItem {
		padding: 0.05rem;
		font-size: 32.5%;
	}

	.NavBarItem#about,
	.NavBarItem#previous,
	.NavBarItem#enter {
		display: none;
	}
}

@media (min-width: 250px) {
	.NavBar {
        margin-right: 0.9rem;
	}

	.NavBarItem {
		padding: 0.1rem;
		font-size: 40%;
	}
}

@media (min-width: 300px) {
	.NavBar {
        margin-right: 0.9rem;
	}

	.NavBarItem {
		padding: 0.075rem;
		font-size: 57.5%;
	}
}

@media (min-width: 350px) {
	.NavBar {
        margin-right: 0.5rem;
	}

	.NavBarItem {
		padding: 0.15rem;
		font-size: 60%;
	}
}

@media (min-width: 400px) {
	.NavBar {
        margin-right: 0.75rem;
	}

	.NavBarItem {
		padding: 0.15rem;
		font-size: 65%;
	}
}

@media (min-width: 450px) {
	.NavBar {
        margin-right: 1rem;
	}

	.NavBarItem {
		padding: 0.15rem;
		font-size: 44%;
	}

	.NavBarItem#about,
	.NavBarItem#previous,
	.NavBarItem#enter {
		display: flex;
	}
}

@media (min-width: 500px) {
	.NavBar {
        margin-right: 1.25rem;
	}

	.NavBarItem {
		padding: 0.15rem;
		font-size: 42.5%;
	}
}

@media (min-width: 550px) {
	.NavBar {
        margin-right: 1.5rem;
	}

	.NavBarItem {
		padding: 0.2rem;
		font-size: 43%;
	}
}

@media (min-width: 750px) {
	.NavBar {
		margin-right: 1.75rem;
	}

	.NavBarItem {
		padding: 0.25rem;
		font-size: 52.5%;
	}
}

@media (min-width: 1000px) {
	.NavBar {
		margin-right: 1.9rem;
	}

	.NavBarItem {
		padding: 0.34rem;
		font-size: 70%;
	}
}

@media (min-width: 1250px) {
	.NavBar {
		margin-right: 2.05rem;
	}

	.NavBarItem {
		padding: 0.42rem;
		font-size: 85%;
	}
}

@media (min-width: 1500px) {
	.NavBar {
		margin-right: 2.2rem;
	}

	.NavBarItem {
		padding: 0.51rem;
		font-size: 95%;
	}
}

@media (min-width: 1750px) {
	.NavBar {
		margin-right: 2.35rem;
	}

	.NavBarItem {
		padding: 0.66rem;
		font-size: 104%;
	}
}

@media (min-width: 2000px) {
	.NavBar {
		margin-right: 2.5rem;
	}

	.NavBarItem {
		padding: 0.8rem;
		font-size: 114%;
	}
}