.RulesModal h1 {
	margin-top: 0;
}

.RulesModal .header {
	font-weight: bold;
}

.RulesModal-list {
	padding: 0.33rem 0.33rem 0.33rem 1rem;
	margin: 0;
	text-align: left;
}

@media (min-width: 0px) {
	.RulesModal-list {
		padding-left: 0.2rem;
	}

	.RulesModal-list li {
		margin-bottom: 0.5rem;
	}
}

@media (min-width: 250px) {
	.RulesModal-list {
		padding-left: 0.25rem;
	}

	.RulesModal-list li {
		margin-bottom: 0.55rem;
	}
}

@media (min-width: 300px) {
	.RulesModal-list {
		padding-left: 0.3rem;
	}

	.RulesModal-list li {
		margin-bottom: 0.6rem;
	}
}

@media (min-width: 320px) {
	.RulesModal-list {
		padding-left: 0.35rem;
	}

	.RulesModal-list li {
		margin-bottom: 0.65rem;
	}
}

@media (min-width: 360px) {
	.RulesModal-list {
		padding-left: 0.4rem;
	}

	.RulesModal-list li {
		margin-bottom: 0.7rem;
	}
}

@media (min-width: 375px) {
	.RulesModal-list {
		padding-left: 0.45rem;
	}

	.RulesModal-list li {
		margin-bottom: 0.75rem;
	}
}

@media (min-width: 412px) {
	.RulesModal-list {
		padding-left: 0.7rem;
	}

	.RulesModal-list li {
		margin-bottom: 0.85rem;
	}
}

@media (min-width: 568px) {
	.RulesModal-list {
		padding-left: 1.2rem;
	}

	.RulesModal-list li {
		margin-bottom: 1rem;
	}
}

@media (min-width: 768px) {
	.RulesModal-list {
		padding-left: 0.75rem;
	}

	.RulesModal-list li {
		margin-bottom: 1rem;
	}
}

@media (min-width: 1024px) {
	.RulesModal-list {
		padding-left: 1rem;
	}

	.RulesModal-list li {
		margin-bottom: 1.25rem;
	}
}