.Footer {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    bottom: 0;
    width: 100%;
    padding: 0.25rem;
    background-color: rgb(20, 20, 20);
    color: white;
    box-shadow: 0 0 1rem rgba(20, 20, 20, 0.67);
    box-sizing: border-box;
}

.Footer-content {
    display: flex;
    margin: 0 0.25rem 0 0.25rem;
}

.Footer-icon {
    border-radius: 25%;
}

.Footer-twitterIcon {
    filter: saturate(0);
}

.Footer-emailIcon {
    filter: hue-rotate(-25deg) saturate(0) brightness(1.2);
}

.Footer-message {
    margin-right: 1rem;
    color: rgba(255, 255, 255, 0.67);
    font-size: 67%;
}

@media (min-width: 0px) {
    .Footer {
        font-size: 35%;
    }

    .Footer-icon {
        width: 0.9rem;
        height: 0.9rem;
    }
}

@media (min-width: 250px) {
    .Footer {
        font-size: 40%;
    }

    .Footer-icon {
        width: 0.9rem;
        height: 0.9rem;
    }
}

@media (min-width: 300px) {
    .Footer {
        font-size: 40%;
    }

    .Footer-icon {
        width: 1.2rem;
        height: 1.2rem;
    }
}

@media (min-width: 300px) {
    .Footer {
        font-size: 45%;
    }

    .Footer-icon {
        width: 0.9rem;
        height: 0.9rem;
    }
}

@media (min-width: 350px) {
    .Footer {
        font-size: 45%;
    }

    .Footer-icon {
        width: 0.9rem;
        height: 0.9rem;
    }
}

@media (min-width: 400px) {
    .Footer {
        font-size: 50%;
    }

    .Footer-icon {
        width: 1rem;
        height: 1rem;
    }
}

@media (min-width: 450px) {
    .Footer {
        font-size: 50%;
    }

    .Footer-icon {
        width: 1.1rem;
        height: 1.1rem;
    }
}

@media (min-width: 500px) {
    .Footer {
        font-size: 55%;
    }

    .Footer-icon {
        width: 1.17rem;
        height: 1.17rem;
    }
}

@media (min-width: 550px) {
    .Footer {
        font-size: 65%;
    }

    .Footer-icon {
        width: 1.25rem;
        height: 1.25rem;
    }
}

@media (min-width: 750px) {
    .Footer {
        font-size: 92.5%;
    }

    .Footer-icon {
        width: 1.5rem;
        height: 1.5rem;
    }
}

@media (min-width: 1000px) {
    .Footer {
        font-size: 125%;
    }

    .Footer-icon {
        width: 2rem;
        height: 2rem;
    }
}

@media (min-width: 1250px) {
    .Footer {
        font-size: 125%;
    }

    .Footer-icon {
        width: 2.1rem;
        height: 2.1rem;
    }
}

@media (min-width: 1500px) {
    .Footer {
        font-size: 125%;
    }

    .Footer-icon {
        width: 2.6rem;
        height: 2.6rem;
    }
}

@media (min-width: 1750px) {
    .Footer {
        font-size: 125%;
    }

    .Footer-icon {
        width: 2.8rem;
        height: 2.8rem;
    }
}

@media (min-width: 2000px) {
    .Footer {
        font-size: 125%;
    }

    .Footer-icon {
        width: 3.25rem;
        height: 3.25rem;
    }
}