html,
body,
#root,
.App {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Lato", "Helvetica", sans-serif;
}

.App {
    text-align: center;
}

.App-backgroundColor {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 255);
    pointer-events: none;
    z-index: -1;
}

.App-backgroundImage {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    pointer-events: none;
    z-index: -1;
}

.paneContainer {
    position: absolute;
    left: 50%;
    width: 80%;
    max-width: 60rem;
    padding: 1rem;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.75);
    overflow-y: scroll;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

.paneContainer div.hidden {
    display: none;
}

.modalContainer {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(50, 50, 50, 0.8275);
    z-index: 1;
}

.modalContainer.hidden {
    display: none;
}

.modalBackground {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.header {
    font-size: 200%;
}

.header:first-of-type {
    margin-top: 0;
}

.subheader {
    font-size: 140%;
}

.body {
    font-size: 100%;
}

.footer {
    font-size: 67%;
}

.footer:last-of-type {
    margin-bottom: 0;
}

.wideButton {
    display: block;
    position: relative;
    padding: 0.33rem;
    margin-left: auto;
    margin-right: auto;
    border: 0.1rem solid rgb(200, 200, 200);
    border-radius: 0.67rem;
    color: rgb(245, 245, 245);
    background: black;
    cursor: pointer;
}

.wideButton span {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.wideButton:hover,
.wideButton:active {
    background: rgb(40, 40, 40);
}

.newSection {
    margin: 1.1rem;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.5);
}

@media (min-width: 0px) {
    .paneContainer {
        top: 1.4rem;
        bottom: 1.4rem;
        padding-top: 0.9rem;
        font-size: 0.325rem;
    }

    .wideButton {
        width: 8rem;
        height: 1rem;
        margin-top: 0.25rem;
        margin-bottom: 0.25rem;
        font-size: 110%;
    }
}

@media (min-width: 250px) {
    .paneContainer {
        top: 1.4rem;
        bottom: 1.4rem;
        padding-top: 0.95rem;
        font-size: 0.42rem;
    }

    .wideButton {
        width: 10rem;
        height: 1.33rem;
        margin-top: 0.3rem;
        margin-bottom: 0.3rem;
        font-size: 115%;
    }
}

@media (min-width: 300px) {
    .paneContainer {
        top: 1.4rem;
        bottom: 1.4rem;
        padding-top: 1rem;
        font-size: 0.51rem;
    }

    .wideButton {
        width: 12.25rem;
        height: 1.67rem;
        margin-top: 0.35rem;
        margin-bottom: 0.35rem;
        font-size: 112.5%;
    }
}

@media (min-width: 350px) {
    .paneContainer {
        top: 1.4rem;
        bottom: 1.4rem;
        padding-top: 1.05rem;
        font-size: 0.62rem;
    }

    .wideButton {
        width: 15rem;
        height: 2rem;
        margin-top: 0.4rem;
        margin-bottom: 0.4rem;
        font-size: 110%;
    }
}

@media (min-width: 400px) {
    .paneContainer {
        top: 1.5rem;
        bottom: 1.5rem;
        padding-top: 1.1rem;
        font-size: 0.74rem;
    }

    .wideButton {
        width: 16.5rem;
        height: 2.33rem;
        margin-top: 0.45rem;
        margin-bottom: 0.45rem;
        font-size: 107.5%;
    }
}

@media (min-width: 450px) {
    .paneContainer {
        top: 1.6rem;
        bottom: 1.6rem;
        padding-top: 1.15rem;
        font-size: 0.86rem;
    }

    .wideButton {
        width: 17.5rem;
        height: 2.67rem;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        font-size: 110%;
    }
}

@media (min-width: 500px) {
    .paneContainer {
        top: 1.67rem;
        bottom: 1.67rem;
        padding-top: 1.2rem;
        font-size: 0.95rem;
    }

    .wideButton {
        width: 18.75rem;
        height: 3rem;
        margin-top: 0.55rem;
        margin-bottom: 0.55rem;
        font-size: 107.5%;
    }
}

@media (min-width: 550px) {
    .paneContainer {
        top: 1.75rem;
        bottom: 1.75rem;
        padding-top: 1.25rem;
        font-size: 1rem;
    }

    .wideButton {
        width: 19.5rem;
        height: 3.33rem;
        margin-top: 0.6rem;
        margin-bottom: 0.6rem;
        font-size: 107.5%;
    }
}

@media (min-width: 750px) {
    .paneContainer {
        top: 2rem;
        bottom: 2rem;
        padding-top: 1.55rem;
        font-size: 1.05rem;
    }

    .wideButton {
        width: 20.5rem;
        height: 3rem;
        margin-top: 0.65rem;
        margin-bottom: 0.65rem;
        font-size: 107.5%;
    }
}

@media (min-width: 1000px) {
    .paneContainer {
        top: 2.3rem;
        bottom: 2.3rem;
        padding-top: 1.85rem;
        font-size: 1.1rem;
    }

    .wideButton {
        width: 21.33rem;
        height: 3.25rem;
        margin-top: 0.7rem;
        margin-bottom: 0.7rem;
        font-size: 110%;
    }
}

@media (min-width: 1250px) {
    .paneContainer {
        top: 2.6rem;
        bottom: 2.6rem;
        padding: 1.85rem;
        font-size: 1.2rem;
    }

    .wideButton {
        width: 25.5rem;
        height: 3.25rem;
        margin-top: 0.7rem;
        margin-bottom: 0.7rem;
        font-size: 110%;
    }
}

@media (min-width: 1500px) {
    .paneContainer {
        top: 3.1rem;
        bottom: 3.1rem;
        max-width: 80rem;
        padding: 2.25rem 2rem 2rem 2rem;
        font-size: 1.3rem;
    }

    .wideButton {
        width: 29.5rem;
        height: 3.25rem;
        margin-top: 0.7rem;
        margin-bottom: 0.7rem;
        font-size: 110%;
    }
}

@media (min-width: 1750px) {
    .paneContainer {
        top: 3.3rem;
        bottom: 3.3rem;
        font-size: 1.4rem;
    }

    .wideButton {
        width: 34.25rem;
        height: 3.25rem;
        margin-top: 0.7rem;
        margin-bottom: 0.7rem;
        font-size: 110%;
    }
}

@media (min-width: 2000px) {
    .paneContainer {
        top: 3.75rem;
        bottom: 3.75rem;
        font-size: 1.475rem;
    }

    .wideButton {
        width: 39.25rem;
        height: 3.25rem;
        margin-top: 0.7rem;
        margin-bottom: 0.7rem;
        font-size: 110%;
    }
}

.centerHorizontallyRelative {
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.centerVerticallyRelative {
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
}

.centerHorizontallyAndVerticallyRelative {
    position: relative;
    margin: auto;
}

.centerHorizontallyAbsolute {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

.centerVerticallyAbsolute {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);   
}

.centerHorizontallyAndVerticallyAbsolute {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);   
}

.hidden {
    display: none !important;
}