.Home-headerBanner {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	padding: 0.5rem;
}

.Home-column {
	display: inline-block;
}

.Home-firstColumn {
	position: relative;
	width: 45%;
}

.Home-firstColumn p {
	margin: 0;
}

.Home-secondColumn {
	position: relative;
	width: 45%;
}

.Home-logo,
.Home-logo img {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

@media (min-width: 0px) {
	.Home-secondColumn {
		width: 2.25rem;
		height: 2.25rem;
		margin-left: 1rem;
	}
}

@media (min-width: 250px) {
	.Home-secondColumn {
		width: 2.5rem;
		height: 2.5rem;
		margin-left: 0.5rem;
	}
}

@media (min-width: 300px) {
	.Home-secondColumn {
		width: 2.75rem;
		height: 2.75rem;
		margin-left: 1.5rem;
	}
}

@media (min-width: 350px) {
	.Home-secondColumn {
		width: 3.5rem;
		height: 3.5rem;
		margin-left: 2rem;
	}
}

@media (min-width: 400px) {
	.Home-secondColumn {
		width: 3.9rem;
		height: 3.9rem;
		margin-left: 2.15rem;
	}
}

@media (min-width: 450px) {
	.Home-secondColumn {
		width: 4rem;
		height: 4rem;
		margin-left: 2.25rem;
	}
}

@media (min-width: 500px) {
	.Home-secondColumn {
		width: 5rem;
		height: 5rem;
		margin-left: 2.25rem;
	}
}

@media (min-width: 550px) {
	.Home-secondColumn {
		width: 6rem;
		height: 6rem;
		margin-left: 2.25rem;
	}
}

@media (min-width: 750px) {
	.Home-secondColumn {
		width: 9rem;
		height: 9rem;
		margin-left: 2.8rem;
	}
}

@media (min-width: 1024px) {
	.Home-secondColumn {
		width: 10rem;
		height: 10rem;
		margin-left: 3rem;
	}
}